# Symfony
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

# PHPUnit
/phpunit.xml
.phpunit.result.cache

###> league/oauth2-server-bundle ###
/config/jwt
###< league/oauth2-server-bundle ###
