<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body class="bg-zinc-800">
		{% block body %}
			<div id="root"></div>
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}

			<script>
				const link = '{{ app.request.attributes.get('_links').getLinksbyRel('mercure')[0].getHref }}'
				const user = JSON.parse('{{ user|raw }}')

				console.log(user === null)

				document.mercureLink = link
				document.user = user
			</script>
		{% endblock %}
	</body>
</html>
